@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

// Fonts
$playfair: 'Playfair Display';
$font-family: 'Titillium Web';

// Colors
$first: #D39D5B;
$second: #AD7A51;
$third: #30454C;

// Measures
$container_width: 1200px;